<div>
    <img src="<%= @img_link %>"> 
    <h1><span id="title">"<%= @title %>"</span>, by <span id="author"><%= @author %></span></h1>
    <p><%= @desc %></p>
    <label>Other people rated it <%= @rating %>/5 stars</label>
    <ul>
       <i>*</i>
       <i>*</i>
       <i>*</i>
       <i>*</i>
       <i>*</i>
    </ul>
</div>
