<% provide(:title, "Recommendation") %>
<div>
    <div>
        <!-- image credit https://imgur.com/gallery/cJp4uY6 -->
        <img src="<%= @img_link %>"> <!--"https://i.imgur.com/8u3skSq.png">-->
        <h1><span id="title">"<%= @title %>"</span>, by <span id="author"><%= @author %></span></h1>
        <p><%= @desc %></p>
        <label>Other people rated it <%= @rating %>/5 stars</label>
        <ul>
           <i>*</i>
           <i>*</i>
           <i>*</i>
           <i>*</i>
           <i>*</i>
        </ul>
    </div>
    <div>
        <!-- TODO: make buttons doe diff things -->
        <%= link_to 'Nope', '/recommend/book', class: 'btn btn-width' %>
        <%= link_to 'Already read it', '/recommend/book', class: 'btn btn-width' %>
        <%= link_to 'Love it!', '/recommend/book', class: 'btn btn-width' %>
    </div>
</div
